<html>
<head>
    <meta charset=UTF-8>
    <title>Крестики-нолики игра</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="../js/controller.js"></script>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.0/less.min.js" ></script>
</head>
<body>
<div class="logo">
    <img src="../images/Google_2015_logo.svg">
</div>
<div class="menu-game">
    <div class="game-counts">
            <button>
                 <span class="simbol-player"><img src="../images/cross-light.svg"></span>
            </button>
        <button>
                <span class="simbol-player"><img src="../images/circle-dark-stroked.svg"></span>
        </button>
    </div>
    <p>Начните игру или выберите игрока</p>
</div>

<div class="game-place">
    <svg class="table-lines" width="180" height="180">
        <path stroke="#13A192" stroke-width="5"
              d="M 90 60 L0,60"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 90 120 L0,120"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 60 60 L60,0"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 60 180 L60,60"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 90 60 L180,60"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 60 120 L180,120"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 120 60 L120,0"
        ></path>
        <path stroke="#13A192" stroke-width="5"
              d="M 120 180 L120,60"
        ></path>
    </svg>
    <table class="game" ng-app="tableApp" ng-controller="tableController">
        <tbody align="center">
            <tr ng-repeat="side in gamePlace">
                <td ng-repeat="cell in side track by $index"><img src="../images/cross-light.svg" ng-if="cell=='X'"><img src="../images/circle-dark-stroked.svg" ng-if="cell=='0'"></td>
            </tr>
        </tbody>
    </table>
</div>
    <button class="new-game" >Начать заново</button>
</body>
</html>